:root {
  --tlo-jasne: #fff;
  --tekst-jasny: #333;
  --jasny-link: #3E5C76;
  --pasek-tło: #4a4e69;
  --tekst-stopka: #000000;
  --kolor-stopka: #90e0ef;

}

.tryb-ciemny {
  --tlo-jasne: #333;
  /* Kolor tła dla trybu ciemnego */
  --tekst-jasny: #fff;
  /* Kolor tekstu dla trybu ciemnego */

  --jasny-link: #748CAB;
  --pasek-tło: #8d99ae;
  --tekst-stopka: #ffffff;
  --kolor-stopka: #03045e;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--tlo-jasne);
  color: var(--tekst-jasny);
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
}

footer {

  background-color: var(--kolor-stopka);
  color: var(--tekst-stopka);
  text-align: center;
  padding: 10px;
  height: 50px;
  width: 100%;
}

footer p {
  margin-bottom: 0;
}

footer a {
  color: var(--tekst-stopka);
  text-decoration: none;
}

.margines {
  margin-bottom: 460px;
}

.parent {
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.pasek {

  top: 100px;
  width: 60%;
  right: 20%;
  background-color: var(--pasek-tło);
  color: white;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.pasek2,
.pasek3 {
  width: 60%;
  right: 20%;
  background-color: var(--pasek-tło);
  color: white;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.button {

  background-color: #1D2D44;
  /* Kolor tła przycisku */
  color: white;
  /* Kolor tekstu */
  padding: 10px 20px;
  /* Wielkość wypełnienia */
  border: none;
  /* Brak obramowania */
  cursor: pointer;
  /* Kursor wskazujący na to, że przycisk jest klikalny */
  position: fixed;
  /* Ustawienie pozycji przycisku */
  top: 20px;
  /* Odległość od góry ekranu */
  right: 20px;
  /* Odległość od prawej krawędzi ekranu */

}

.button2 {
  background-color: #1D2D44;
  /* Kolor tła przycisku */
  color: white;
  /* Kolor tekstu */
  padding: 10px 20px;
  /* Wielkość wypełnienia */
  border: none;
  /* Brak obramowania */
  cursor: pointer;
  /* Kursor wskazujący na to, że przycisk jest klikalny */
  position: fixed;
  /* Ustawienie pozycji przycisku */
  top: 20px;
  /* Odległość od góry ekranu */
  left: 20px;
  /* Odległość od prawej krawędzi ekranu */
}

.Badge {
  position: fixed;
  border: none;
  top: 200px;
  right: 30px;
  /* height: 80%; */
  width: 250px;
}

.Badge img {
  width: 100%;
}

.IMGTEKST {
  position: fixed;
  width: 100%;
  top: 300px;
}