:root {
  --tlo-jasne: #fff;
  /* Domyślny kolor tła dla trybu jasnego */
  --tekst-jasny: #333;
  /* Domyślny kolor tekstu dla trybu jasnego */
  --jasny-link: #3E5C76;
  --tekst-stopka: #000000;
  --kolor-stopka: #90e0ef;
}

.tryb-ciemny {
  --tlo-jasne: #333;
  /* Kolor tła dla trybu ciemnego */
  --tekst-jasny: #fff;
  /* Kolor tekstu dla trybu ciemnego */
  --jasny-link: #748CAB;
  --tekst-stopka: #ffffff;
  --kolor-stopka: #03045e;
}


body {
  font-family: Arial, sans-serif;
  background-color: var(--tlo-jasne);
  color: var(--tekst-jasny);
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
}

.TekstNadGenerals {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

footer {

  background-color: var(--kolor-stopka);
  color: var(--tekst-stopka);
  text-align: center;
  padding: 10px;
  height: 50px;
  width: 100%;
}

footer p {
  margin-bottom: 0;
}

footer a {
  color: var(--tekst-stopka);
  text-decoration: none;
}

.link {

  color: var(--jasny-link);
}

.title {
  text-align: center;
}

.button {

  background-color: #1D2D44;
  /* Kolor tła przycisku */
  color: white;
  /* Kolor tekstu */
  padding: 10px 20px;
  /* Wielkość wypełnienia */
  border: none;
  /* Brak obramowania */
  cursor: pointer;
  /* Kursor wskazujący na to, że przycisk jest klikalny */
  position: fixed;
  /* Ustawienie pozycji przycisku */
  top: 20px;
  /* Odległość od góry ekranu */
  right: 20px;
  /* Odległość od prawej krawędzi ekranu */

}

.margines {
  margin-bottom: 100px;
}

.MainPageTekst {
  margin-top: 100px;
  margin-left: 200px;
}

.image-container {
  position: fixed;
  top: 100px;
  right: 50px;
}

.Image {
  border-radius: 20px;
  height: 520px;
  width: 300px;
}

.TekstPodIMG {
  margin-top: 25px;
  width: 300px;
}

/* Dodatkowe style dla innych elementów na stronie */
.generals {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  margin-bottom: 150px;
}

.generals figure {
  position: absolute;
  width: 500px;
  height: 570px;
  margin: 0;
}

.generals img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;
}

.generals figcaption {
  display: block;
  width: 500px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  /* Optional: semi-transparent background */
  color: white;
  /* Text color */
  padding: 10px;
  /* Padding around the text */
  text-align: center;
  /* Center the text */
  box-sizing: border-box;

}


#prev,
#next {
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px;
  cursor: pointer;
}

#prev {
  left: 0px;
}

#next {
  right: 0px;
}