footer {
    background-color: var(--tlo-jasne);
    color: var(--tekst-jasny);
    text-align: center;
    padding: 20px;
}

footer p {
    margin-bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
}